.sidebar {
    width: 200px;
    background-color: #ebf1f6;
    padding: 10px;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar-nav a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 15px 0;
    font-size: 1em;
  }
  
  .sidebar-nav a:hover {
    background-color: #ddd;
  }
  